
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<h1>Something went wrong! </h1>
<h2>Our Engineers are on it</h2>
<a href="index.html" th:href="@{/index.html}">Back to Home Page..</a>
</body>
</html>
