<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>


<div th:fragment="left-nav">

    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a class="site_title" href="/"><i class="fa fa-paw"></i> <span>i1Solutions</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img alt="..." class="img-circle profile_img" src="/images/img.jpg">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2 th:text="${userName}">hmm</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <div th:insert="~{base/menu :: menu}"></div>
    </div>

</div>
</body>
</html>
